body{
	padding:70px 0 5px 0;
	width:100%;
	height:100%;
	background:-webkit-linear-gradient(top,#ccbeff,#ccc2ff,#ffeeff,#fff4ff,#fff8ff,#ffffff);
}

@media (min-width:320px){
	nav.my-navbar{
	transition:background 0.5s ease-in-out, padding 0.5s ease-in-out;
	}
}

@media (min-width:1200px){
	nav.my-navbar{
	height:70px;
	transition:background 0.5s ease-in-out, padding 0.5s ease-in-out;
	background:transparent;
	border-color:transparent;	
	}
}

nav.top-nav{
	height:50px;
	background-color:#fff;
}

.collapse > .navbar-nav > li > a{
	padding-top: 25px;
	padding-bottom: 25px;
}

nav.my-navbar a{
	background:transparent;
	transition:color 0.5s ease-in-out;
}

nav.my-navbar a:hover{
	background:transparent;
	outline:0;
}

a.navbar-brand{
	margin:10px 0;
	font-size:22px;
}

.dropdown > .dropdown-menu{
	margin-top:-2px;
}

.dropdown > .dropdown-menu li a:hover{
	color:#cc66ff;
	text-decoration:underline;
}



@media (min-width:320px){
	.modal>.modal-dialog{
		width:90%;
	}
}

@media (min-width:1200px){
	.modal>.modal-dialog{
		width:33%;
	}
}

@media (min-width:768px){
	#myCarousel, .carousel-inner, .item{
		height:auto;
	}
	
	#myCarousel, .carousel-inner, .item img{
		width:100%;
	}
}

#myCarousel, .carousel-inner, .item{
	background-size: cover;
	background-position:center,center;
	background-repeat:no-repeat;
}

.col-md-3 > .card{
	margin-top:30px;
	height:320px;
	border-color:#cc99ff;
}

.dropdown-backdrop{
	border:solid 1px;
}

.col-md-3 > .card > .card-header{
	background-color:#cc99ff;
	border-color:#cc99ff;
}

.footer , #footer-ul li a{
	margin:15px 0 0;
	color:#666;
	text-align:center;
	font-size:13px;
}

#footer-ul{
	width:300px;
	margin:0 auto;
}

#footer-ul ul{
	padding-left:0;
	width:300px;
	margin:0 auto;
}

#footer-ul ul li{
	list-style:none;
	float:left;
	width:100px;
	text-align:center;
}